@import '../../../styles/global.styles';
@import '../../../styles/drawline.animation';

.section-bg{
    width: 100%;
    @include flex-center; 
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.contact-content{
    width: 100%;
    @include flex-center;
    justify-content: space-between;
    @include margin-left-right;
    // margin: 0 120px;
    margin-top: 100px;
    color: $white;
}

.headline-container{
    width: 560px;
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
    h1{
        font-size: 64px;
        font-weight: 700;
        margin: 0;
        line-height: 100%;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        line-height: 30px;
        text-align: justify;
    }
    #drawline{
        position: relative;
        height: 41px;
        width: 280px;
        &::after{
            background-image: url('/assets/img/00_hand-drawn-lines/05_Contact/Color_option_1.png');
            @include drawline;
        }
        &.drawline-visible::after {
            animation: drawLeftToRight 0.25s;
        }
    }
}

.headline{
    display: flex;
    flex-direction: column;
    p{
        font-size: 20px;
        font-weight: 500;
    }
}

.form-container{
    position: relative;
    .sticker-container{
        position: absolute;
        right: 0;
        z-index: 100;
        transform: rotate(15deg);
    }
}