@import '../../../styles/global.styles';
@import '../../../styles/drawline.animation';

.section-bg{
    width: 100%;
    @include flex-center; 
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contact-content{
    width: 100%;
    @include flex-center;
    justify-content: space-between;
    @include margin-left-right;
    margin-top: 100px;
    color: $white;
}

.headline-container{
    width: 560px;
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;

    h1{
        font-size: 64px;
        font-weight: 700;
        margin: 0;
        line-height: 100%;
    }

    p{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        line-height: 30px;
        text-align: justify;
    }

    #drawline{
        position: relative;
        height: 41px;
        width: 280px;
        &::after{
            background-image: url('/assets/img/00_hand-drawn-lines/05_Contact/Color_option_1.webp');
            @include drawline;
        }
        &.drawline-visible::after {
            animation: drawLeftToRight 0.25s;
        }
    }
}

.headline{
    display: flex;
    flex-direction: column;

    .sticker-container{
        display: none;
        position: unset;
        width: fit-content;
        align-self: flex-end;
    }

    p{
        font-size: 20px;
        font-weight: 500;
    }
}

.form-container{
    position: relative;
    
    .sticker-container{
        right: 0;
    }
}

.sticker-container{
    position: absolute;
    z-index: 100;
    transform: rotate(15deg);
}

@media screen and (max-width: 1200px) {
    .contact-content{
        flex-direction: column;
    }

    .headline .sticker-container{
        display: block;
    }

    .form-container .sticker-container{
        display: none;
    }

    .headline-container #drawline {
        display: none;
    }
}

@media screen and (max-width: $displayWidth-sm) {
    .headline-container {
        width: 400px;
    }

    .headline h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 530px) {
    .headline-container {
        width: 340px;
    }
    
    .section-bg {
        padding-bottom: 85px;
    }
}

@media screen and (max-width: 410px) {
    .headline-container {
        width: 270px;
        .sticker-container{
            margin: 10px;
        }
    }

    .headline h1 {
        font-size: 32px;
    }
}