@import '../../../styles/global.styles';

.section-bg{
    width: 100%;
    @include flex-center; 
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.contact-content{
    width: 100%;
    @include flex-center;
    justify-content: space-between;
    margin: 0 120px;
    margin-top: 100px;
    color: $white;
}

.headline-container{
    width: 560px;
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
    h1{
        font-size: 64px;
        font-weight: 700;
        margin: 0;
        line-height: 100%;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    img{
        width: 280px;
    }
}

.headline{
    display: flex;
    flex-direction: column;
    p{
        font-size: 20px;
        font-weight: 500;
    }
}

.contact-sticker{
    position: relative;
    color: $black;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(15deg);
    img{
        width: 168px;
        height: 168px;
    }
    .sticker-content{
        width: 168px;
        height: 168px;
        position: absolute;
        @include flex-center;
        img{
            width: 54px;
            height: 56px;
        }
        svg{
            position: absolute;
            width: 190px;
            height: 190px;
            transform: translateX(2%);
        }
    }
}

.form-container{
    position: relative;
    .sticker-container{
        position: absolute;
        right: 0;
        z-index: 100;
    }
}