@if (contactContent(); as contactContent) {
  <section class="section-bg" id="contact">
    <div class="contact-content">
      <div class="headline-container">
        <div class="headline">
          <div class="sticker-container">
            <app-sticker-circle
              variant="logo"
              stickerColor="orange"
              topText="- Michael Ring - Frontend Developer -"
              bottomText="Michael Ring - Frontend Developer">
            </app-sticker-circle>
          </div>
          <p>{{ contactContent.subtitle[languageService.lang] }}</p>
          <h1>{{ contactContent.title[languageService.lang] }}</h1>
        </div>
        <p data-aos="flip-up">{{ contactContent.text[languageService.lang] }}</p>
        <div id="drawline" appAnimateOnScroll [delay]="300"></div>
      </div>
      <div data-aos="zoom-in-left" [attr.data-aos-delay]="200" class="form-container">
        <div class="sticker-container">
          <app-sticker-circle
            variant="logo"
            stickerColor="orange"
            topText="- Michael Ring - Frontend Developer -"
            bottomText="Michael Ring - Frontend Developer">
          </app-sticker-circle>
        </div>
        <app-form></app-form>
      </div>
    </div>
  </section>
}