<section class="section-bg" id="contact-section" *ngIf="contactContent$ | async as contactContent">
    <div class="contact-content">
        <div class="headline-container">
            <div class="headline">
                <p>{{ contactContent.subtitle[languageService.lang] }}</p>
                <h1>{{ contactContent.title[languageService.lang] }}</h1>
            </div>
            <p>{{ contactContent.text[languageService.lang] }}</p>
            <div id="drawline" appAnimateOnScroll [delay]="300"></div> 
        </div>
        <div class="form-container">
            <div class="sticker-container">
                <app-sticker-circle 
                    stickerColor="orange"
                    centerImg="logo"
                    topText="- Michael Ring - Frontend Developer -"
                    bottomText="Michael Ring - Frontend Developer"
                    [bottomUpsideDown] = true
                    [textLetterSpacing]= "1"
                    [textFontSize] = 17
                    [ringSize] = 280
                    [ringRadius] = 110>
                </app-sticker-circle>
            </div>
            <app-form></app-form>
        </div>
    </div>
</section>