<section class="section-bg">
    <div class="about-me-content">
        <div class="tag-container">
            <app-about-tag></app-about-tag>
        </div>
        <div class="about-me-info">
            <p>WHO'S Michael?</p>
            <div id="about-me-title">
                <h1>About me</h1>  
            </div>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis repellat alias doloribus eos exercitationem eveniet rerum facilis est ullam quidem, ea, quaerat reprehenderit pariatur reiciendis dolore veniam molestiae quas.</span>
            <div class="contact-bt">
                <app-contact-button textBtn="Let's talk"></app-contact-button>  
            </div>
        </div>
    </div>
</section>
