<section class="section-bg">
    <div class="about-me-content">
        <div class="tag-container">
            <app-about-tag></app-about-tag>
        </div>
        <div class="about-me-info">
            <p>WHO'S Michael?</p>
            <div id="about-me-title">
                <h1>About me</h1>  
            </div>
            <span>Hey there, I'm Michael. Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?  Do you learn from each challenge as you search for the most efficient or elegant solution? <br> Let's collaborate and build something remarkable together!</span>
            <div class="contact-bt">
                <app-contact-button textBtn="Let's talk"></app-contact-button>  
            </div>
        </div>
    </div>
</section>
