@import '../../styles/global.styles';

.section-bg{
    width: 100%;
    height: 720px;
    @include flex-center;  
}

.about-me-content{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        width: 420px;
    };
}

.about-me-info{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    width: 560px;
    height: 432px;
    h1{
        font-size: 64px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 48px;
    }
    p {
        margin: 0;
    }
}

.contact-bt{
    position: absolute;
    width: fit-content !important;
    bottom: 0;
    right: 0;
}

.about-btn{
    border-color: $black;
    p {
        color: $black;
    }

    &:hover {
        background: transparent;
    }
    &:active {
        background-color: red;
        box-shadow: 0 0 0 0;
        transform: translateY(4px);
    }
}

// #about-me-title {
//     position: relative;
//     width: 343px;
//     display: flex;
//     align-items: center;

//     &::after {
//         content: "";
//         position: absolute;
//         width: 343px;
//         height: 116px;
//         background-image: url('/assets/img/00_hand-drawn-lines/01_About_me/color_option_1.png');
//         background-size: contain;
//         background-repeat: no-repeat;

//         clip-path: inset(0 100% 0 0);
//     }

//     &.animate::after {
//         animation: drawLeftToRight 0.25s forwards;
//     }
// }

// @keyframes drawLeftToRight {
//     from { clip-path: inset(0 100% 0 0); }
//     to   { clip-path: inset(0 0 0 0); }
// }