<div class="toggle-slider-language">
    <div id="label-en" class="span-container hover-target" (click)="select('en')">
      <span [class.active]="lang === 'en'" [class.inactive]="lang !== 'en'">EN</span>
    </div>
    
    <div class="switch">
      <div class="slider" [ngStyle]="{ left: lang === 'en' ? '-2px' : '18px' }"></div>
    </div>

    <div id="label-de" class="span-container hover-target" (click)="select('de')">
      <span [class.active]="lang === 'de'" [class.inactive]="lang !== 'de'">DE</span> 
    </div>
</div>