@import '../../../../styles/global.styles';

.toggle-slider-language{
    width: 105px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 4px;
    span{
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
}

.switch {
    position: relative;
    width: 32px;
    height: 8px;
    background-color: $orange;
    border: solid 1px $white;
    border-radius: 30px;
    overflow: visible;  
}

.slider {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $blue;
    border: solid 1px $white;
    border-radius: 30px;
    top: -4px;
    left: -2px;
}

.inactive {
    color: $white;
}

.active {
    color: $orange;
}

.span-container{
    position: relative;
    width: 32px;
    height: 32px;
    @include flex-center;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        background-image: url('/assets/img/00_hand-drawn-lines/00_Header/Toggle.png');
        width: 32px;
        height: 32px;
        background-size: cover;
        background-repeat: no-repeat;
        animation-fill-mode: forwards !important;
        clip-path: inset(100% 0 0 100%);
    }
}

#label-de{
    &::after {
        transform: rotate(180deg);
    }
    &:hover::after {
        animation: drawDiagonal 0.25s;
    }
}

#label-en{
    &:hover::after {
        animation: drawDiagonal 0.25s;
    }
}

@keyframes drawDiagonal {
    from { clip-path: inset(100% 0 0 100%); }
    to   { clip-path: inset(0 0 0 0); }
}