<section class="footer-links">
    <div id="legal-notice" class="link-container">
        <a routerLink="/legal-notice">Legal Notice</a>
    </div>

    <div id="github" class="link-bg icon-roll" appIconRoll>
        <a href="https://github.com/MR-GitCode" target="_blank">GitHub</a>
    </div>

    <div id="linkedin" class="link-bg icon-roll" appIconRoll>
        <a href="www.linkedin.com/in/michael-ring-259b333a1" target="_blank">LinkedIn</a>
    </div>

    <div id="email" class="link-bg icon-roll" appIconRoll>
      <a href="mailto: post@michaelring.eu">Email</a>  
    </div>
</section>
