@if (legalContent(); as legalContent) {
    <section class="footer-links">
            <div id="imprint" class="link-container hover-target">
                <a routerLink="/legal/imprint">{{legalContent.imprint.title[languageService.lang]}}</a>
            </div>

            <div id="privacy-policy" class="link-container hover-target">
                <a routerLink="/legal/privacy-policy">{{legalContent.privacyPolicy.titleFooter[languageService.lang]}}</a>
            </div>   

            <div id="github" class="link-bg icon-roll hover-target" appIconRoll>
                <a href="https://github.com/MR-GitCode" target="_blank">GitHub</a>
            </div>

            <div id="linkedin" class="link-bg icon-roll hover-target" appIconRoll>
                <a href="https://linkedin.com/in/ring-michael" target="_blank">LinkedIn</a>
            </div>

            <div id="email" class="link-bg icon-roll hover-target" appIconRoll>
                <a (click)="navigateToContact()">Email</a>  
            </div>      
    </section>
}
