@import '../../../../styles/global.styles';
@import '../../../../styles/icon-roll.animation';
@import '../../../../styles/drawline.animation';

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    a{
        text-decoration: none;
        color: var(--font-color, $white);
        font-size: 18px;
        font-weight: 500; 
        z-index: 100;  
    }
}

.link-bg{
    position: relative;
    height: 40px;
    @include flex-center;
    padding: 0 24px;
    &:hover{
        background-color: $blue;
        border-radius: 100px;
        color: var(--font-color-hover, $white);
    }
}

.icon-roll {
    &::before{
        top: -32px;                 /* over the button */
        width: 32px;
        height: 32px;
        @include icon-image();
    }
    @include icon-roll-animation();
}

#github::before{
    left: 40%;                /* startet links*/
    background-image: url('/assets/icons/socials/git_hub.svg');
}

#linkedin::before{
    left: 45%;                /* startet links*/
    background-image: url('/assets/icons/socials/linledin.svg');
}

#email::before{
    left: 30%;                /* startet links*/
    background-image: url('/assets/icons/socials/email.svg');
}

.link-container {
  position: relative;
  @include flex-center;
  height: 45px;
  cursor: pointer;
    &::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: inset(100% 0 0 0);
    animation-fill-mode: forwards !important;   
  }
}

#imprint{
  &::after{
    background-image: url('/assets/img/00_hand-drawn-lines/00_Header/3.png');
    width: 90px;
    height: 42px;
  }
  &:hover::after {
    animation: drawLeftToRight 0.25s;
  }
}

#privacy-policy{  
  &::after{
    background-image: url('/assets/img/00_hand-drawn-lines/00_Header/4.png');
    width: 120px;
    height: 42px;
  }
  &:hover::after {
    animation: drawLeftToRight 0.25s;
  }
}