<section class="footer-links">
        <div id="imprint" class="link-container hover-target">
            <a routerLink="/legal/imprint">Imprint</a>
        </div>

        <div id="privacy-policy" class="link-container hover-target">
            <a routerLink="/legal/privacy-policy">Privacy Policy</a>
        </div>   

        <div id="github" class="link-bg icon-roll hover-target" appIconRoll>
            <a href="https://github.com/MR-GitCode" target="_blank">GitHub</a>
        </div>

        <div id="linkedin" class="link-bg icon-roll hover-target" appIconRoll>
            <a href="https://linkedin.com/in/michael-ring-259b333a1" target="_blank">LinkedIn</a>
        </div>

        <div id="email" class="link-bg icon-roll hover-target" appIconRoll>
            <a (click)="navigateToContact()">Email</a>  
        </div>      
</section>
