<section class="project-container" id="{{ project.id }}">
  <div class="projects-link-container">
    @if (project.showSticker) {
      <div class="sticker-container">
        <app-sticker-circle
          variant="feature"
          stickerColor="blue">
        </app-sticker-circle>
      </div>
    }
    <img class="img-project" [src]="project.imgURL">
    <div class="bg-linear-gradient">
      <app-contact-button
        class="contact-btn"
        textBtn="Project details"
        (click)="openProjectDetails(project.id)">
      </app-contact-button>
    </div>
  </div>
  <div>
    <h3>{{project.title}}</h3>
    <p>{{project.description[languageService.lang]}}</p>
  </div>
  <div class="btn-touch">
    <app-contact-button
        class="contact-btn"
        textBtn="Project details"
        (click)="openProjectDetails(project.id)"
        style=" --border-color: #0E1013;
                --font-color: #0E1013;
                --shadow: #0E1013">
    </app-contact-button>
  </div>
</section>
