@import '../../styles/global.styles';

.section-bg{
    background-image: url('/assets/img/01_background/01_Hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    @include flex-center;     
}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    @include flex-center;
    box-sizing: border-box;
}

.hero-content{
    position: relative;
    overflow: visible;
    
    width: 800px;
    height: 490px;
    @include flex-center;
    flex-direction: column;
}

.bt-contact{
    position: absolute;
    right: 0;
    bottom: 0;
}

.social-icons{
    position: absolute;
    left: 0;
    bottom: 72px;
}

.hero-title-container{
    width: 100%;
}

.greeting-container {
    position: absolute;
    left: 0;
    top: 35px;
}

.greeting-message {
    position: relative;
    @include flex-center;
    border: 1px solid $white;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 24px;
    width: 100px;
    height: 40px;
    cursor: default;
    color: $white;
    animation: bounceOut 0.5s ease-out forwards;
}

.text {
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.text-2 {
    opacity: 0;  
}

.greeting-message:hover {
    animation: bounceIn 0.5s ease-out forwards;
    background-color: $blue;
}

.greeting-message:hover .text-1 {
    opacity: 0;
}

.greeting-message:hover .text-2 {
    opacity: 1;
}

.polaroid-container{
    position: absolute;
    height: 244px;
    width: 203px;
    overflow: visible;
    top: -5px;
    right: 20px;
    transform: rotate(8deg);

    .polaroid {
        position: relative;
        width: 100%;
        height: 100%; 
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        //    transition: opacity 0.3s ease; 
        }
        
        .hover-polaroid,
        .hover-name {
            opacity: 0;
        }

        &:hover {
            .default-polaroid,
            .default-name {
                opacity: 0;
            }
            .hover-polaroid,
            .hover-name {
                opacity: 1;
            }
        }
    }
    
    p {
        position: absolute;
        width: 100%;
        margin: 0;
        height: 56px;
        bottom: 0;
        @include flex-center;
        font-family: 'Kalam';
        font-weight: 700;
        font-size: 24px;
        pointer-events: none;
    }
}
    

@keyframes bounceIn {
    0%   { width: 100px; }
    70%  { width: 170px; }  
    100% { width: 160px; }
}

@keyframes bounceOut {
    0%   { width: 160px; }
    70%  { width: 90px; }
    100% { width: 100px; }
}
