@import '../../../../styles/global.styles';

.section-bg{
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url('/assets/img/01_background/01_Hero.png');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

a {
  .logo {
    color: #3355FF;
    transition: color 0.2s ease;
  }

  &:hover .logo {
    color: $yellow;
  }
}

.top{
    position: absolute;
    top: 0;
    width: 100%;
    // margin: 0 $margin-md;
    div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
            
        margin: 0 $margin-md;
        padding-top: 16px;
    }
    .menu-close{
        cursor: pointer;
        img{
            width: 32px;
            height: 32px;  
        }
        
        &:hover{
            img {
                content:url('/assets/icons/header/close_hover.png');
            }
        }
    }
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

app-nav {
    --nav-direction: column;
    --nav-gap: 32px;
}

app-toggle-language{
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

app-hero-socials {
    padding-top: 64px;
    --socials-direction: row;
    --socials-height: 0;
}