@import '../../../styles/global.styles';

header{
    height: 80px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    box-sizing: border-box;
    z-index: 1000;
}

.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}