@import '../../../styles/global.styles';

header{
  position: relative;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  display: flex;
  justify-content: center;
}

.header-content{
  width: 1440px;
  height: 100%;
  @include margin-left-right;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-menu-icon{
  display: none;
  cursor: pointer;
  &:hover{
    img {
      content:url('/assets/icons/header/hover.png');
    }
  }
}

#nav-menu-overlay{
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
}

@media (max-width: $displayWidth-lg) {
  .header-content{
    margin: 0 $margin-md;
  }
}

@media (max-width: 950px) {
  app-nav,
  app-toggle-language{
    display: none;
  }

  .nav-menu-icon{
    display: block;
  }
}

@media (max-width: $displayWidth-md) {
  .header-content{
    margin: 0 $margin-sm;
  }
}