@import './../../../../styles/global.styles.scss';

.about-tag-container{
    position: relative;
    width: 560px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);

    .paper-conent {
        @include flex-center;
        position: absolute;
    };
    
    img{
        width: 560px;
        height: 152px
    };
}

.yellow-paper {
    z-index: 3;
    transform: rotate(-4deg);
    top: 20px;
}

.blue-paper {
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.orange-paper {
    z-index: 1;
    transform: rotate(4deg);
    bottom: 0;
}

.job-preferences{
    position: absolute;
    @include flex-center;
    gap: 16px;

    img{
       width: 40px !important;
       height: 40px !important; 
    }

    p{
        font-size: 24px;
        font-weight: 400;
        color: $white;
    } 
}

.padding{
        padding-bottom: 20px;
    }

@media only screen and  (max-width: 600px) {  
    .about-tag-container{
        width: 480px;   
        img{
            width: 470px;
        };
    }
}

@media only screen and  (max-width: 500px) {  
    .about-tag-container{
        width: 420px;
        height: 300px !important;   
        img{
            width: 400px;
            height: 128px;
        };
    }

    .paper-conent p{
        font-size: 20px; 
    }
}

@media only screen and  (max-width: 450px) {
    .about-tag-container{
        width: 300px;  
        img{
            width: 300px;
        };
    }

    .job-preferences{
        img{
            width: 32px !important;
            height: 32px !important; 
        }
    }

    .paper-conent p{
        font-size: 16px; 
    }
}

@media only screen and  (max-width: 375px) {
    .about-tag-container{
        width: 280px;  
        img{
            width: 280px;
        };
        .job-preferences[_ngcontent-ng-c1937722749] {
            gap: 5px;
        }
    }
}