@import './../../../../styles/global.styles.scss';

.about-tag-container{
    position: relative;
    width: 560px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    .paper-conent {
        @include flex-center;
        position: absolute;
    };
    
    img{
        width: 560px;
        height: 152px
    };
}

.yellow-paper {
    z-index: 3;
    transform: rotate(-4deg);
    top: 20px;
}

.blue-paper {
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.orange-paper {
    z-index: 1;
    transform: rotate(4deg);
    bottom: 0;
}

.job-preferences{
    position: absolute;
    @include flex-center;
    gap: 16px;
    img{
       width: 40px;
       height: 40px; 
    }
    p{
        font-size: 24px;
        font-weight: 400;
        color: $white;
    } 
}

.padding{
        padding-bottom: 20px;
    }