<div class="about-tag-container">
    <div class="yellow-paper paper-conent">
        <img src="/assets/img/02_ripped_paper/about_me/1_Yellow.png">
        <div class="job-preferences  padding">
            <img src="/assets/icons/about-me/state_location.svg">
            <p>{{textBased}}</p>
        </div>
    </div>
    <div class="blue-paper paper-conent">
        <img src="/assets/img/02_ripped_paper/about_me/2_Blue.png">
        <div class="job-preferences">
            <img src="/assets/icons/about-me/state_relocation.svg">
            <p>{{textRelocate}}</p>
        </div>
    </div>
    <div class="orange-paper paper-conent">
        <img src="/assets/img/02_ripped_paper/about_me/3_Orange.png">
        <div class="job-preferences">
            <img src="/assets/icons/about-me/status_remote.svg">
            <p>{{textRemote}}</p>
        </div>
    </div>
</div>
