@import '../../../../styles/global.styles';
@import '../../../../styles/drawline.animation';

.section-bg{
    display: flex;
    justify-content: center;
}

.projects-overview-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 120px;
}

.projects-overview-container > *{
    flex: 0 0 536px;
}

.headline-container{
    width: 536px !important;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    h1{
        font-size: 64px;
        font-weight: 700;
        margin: 0;
        z-index: 4;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        line-height: 30px;
        text-align: justify;
    }
}

.headline{
    display: flex;
    flex-direction: column;
    p{
        font-size: 20px;
        font-weight: 500;
    }
}

#headline-drawline{
    width: 261px;
    #drawline{
        position: relative;
        height: 80px;
        &::after{
            background-image: url('/assets/img/00_hand-drawn-lines/03_Portfolio/color_option_1.png');
            @include drawline;
        }
        &.drawline-visible::after {
            animation: drawLeftToRight 0.25s;
        }
    }
}