@if (projectsContent(); as projectsContent) {
    <section class="section-bg" id="projectsoverview">
        <div class="projects-overview-container">
            <div class="headline-container">
                <div class="headline">
                    <p>{{ projectsContent.subtitle[languageService.lang] }}</p>
                    <div id="headline-drawline">
                        <h1>{{ projectsContent.title[languageService.lang] }}</h1>
                        <div id="drawline" appAnimateOnScroll [delay]="300"></div>
                    </div>
                </div>
                <p>{{ projectsContent.text[languageService.lang] }}</p>
            </div>
            @for(project of projects(); track project.id ) {
                <app-project-view [project]="project"></app-project-view>     
            }
        </div>
    </section>
}
 