<section class="section-bg">
    <div class="contact-content">
        <div class="headline-container">
            <div class="headline">
                <p>CONTACT ME</p>
                <h1>Ready to work together?</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur exercitationem omnis explicabo ratione illo quae recusandae officia. Sit consequuntur dicta vitae iusto autem quos voluptas, sunt, modi odit assumenda atque.</p>
            <img src="/assets/img/00_hand-drawn-lines/05_Contact/Color_option_1.png">
        </div>
        <div>
            <div class="contact-sticker">
                <div class="sticker-content">
                    <img src="/assets/img/00_hand-drawn-lines/00_Header/Logo.png" alt="Logo">
                    <div class="sticker-text">
                        <div>Michael Ring - Frontend Developer -</div>
                        <div>Michael Ring - Frontend Developer -</div>  
                    </div>
                </div>
                <img src="/assets/img/03_stickers/00_Round/01_Color_option_1_Orange.png">
            </div>
            <app-form></app-form>
        </div>
    </div>
</section>


