@import '../../../../styles/global.styles';

.container {
  width: 480px;
  height: 560px;
  form{
    position: relative;
    @include flex-center;
    flex-direction: column;
    height: 520px;
  }
  label{
    font-size: 24px;
    font-weight: 500;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: $white;
  }
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 480px;
  height: 91px;
  border-bottom: 1px solid $yellow;
  label{
    padding-left: 16px;
  }
  textarea{
    height: 30px !important;
  }
  span{
    color: $red;
  }
}

input[type=text], input[type=email], textarea {
  width: 100%;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: unset;
  border: unset;
  padding-left: 16px;
  cursor: pointer;
  &:focus {
    outline: none;
    color: $white;
    font-size: 18px;
  }
}

.input-container:hover {
  border-bottom: 1px solid $blue;
  border-top: 1px solid $blue;
  label{
    color: $orange;
  }
}

.check-policy {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 8px;
  padding-top: 40px;
  img{
    cursor: pointer;
    width: 24px;
    height: 24px;
    &:hover{
      background-color: rgba(51, 85, 255, 0.3);
      border-radius: 5px
    }
  };
  a{
    text-decoration: none;
    color: $blue;
    &:hover{
      color: $yellow;
    }
  }
}

.send-btn{
  position: absolute;
  right: 0;
  bottom: 0;
}