@import '../../../../styles/global.styles';
@import '../../../../styles/drawline.animation';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 560px;

  form{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 520px;
  }

  label{
    font-size: 24px;
    font-weight: 500;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: $white;
  }
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 480px;
  min-height: 91px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $yellow;

  label{
    padding-left: 16px;
    cursor: none;
  }

  textarea{
    height: 30px !important;
  }

  span{
    color: $red;
  }
}

input[type=text], input[type=email], textarea {
  width: 100%;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: unset;
  border: unset;
  padding-left: 16px;
  cursor: none;
  outline: none;
  color: $white;
  font-size: 18px;
  &:focus {
    outline: none;
    color: $white;
    font-size: 18px;
  }
}

// AUTOFILL FIX
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-text-fill-color: $white !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill {
  background-color: transparent !important;
  color: $white !important;
}
// END AUTOFILL FIX

.input-container:hover {
  border-bottom: 1px solid $blue;
  border-top: 1px solid $blue;
  label{
    color: $orange;
  }
}

.input-container:has(+ .input-container:hover) {
  border-bottom-color: transparent;
}

#message{
	overflow: auto;
	overflow-x: hidden;
  resize: none;
}

#message::-webkit-scrollbar-track{
	background-color: transparent !important;
}

#message::-webkit-scrollbar{
	width: 6px;
	background-color: transparent !important;
}

#message::-webkit-scrollbar-thumb{
	border-radius: 100px;
	background-color: $yellow;
}

.check-policy {
  display: flex;
  gap: 8px;
  padding-top: 30px;

  img{
    width: 24px;
    height: 24px;
    &:hover{
      background-color: rgba(51, 85, 255, 0.3);
      border-radius: 5px
    }
  };

  a{
    text-decoration: none;
    color: $blue;
    &:hover{
      color: $yellow;
    }
  }
}

.submit-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  #drawline{
    display: none;
    position: relative;
    height: 41px;
    width: 280px;
    &::after{
      background-image: url('/assets/img/00_hand-drawn-lines/05_Contact/Color_option_1.webp');
      @include drawline;
    }
    &.drawline-visible::after {
      animation: drawLeftToRight 0.25s;
    }
  }
}

.message-container{
  position: relative;
  width: 400px;
  
  .success-message {
    position: absolute;
    margin: 20px 0;
    padding: 5px 15px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 20px;
    text-align: center;
  }

  .error-message {
    position: absolute;
    margin-top: 20px;
    padding: 5px 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .submit-container #drawline {
    display: block;
  }
}

@media screen and (max-width: 530px) {
  .container {
    width: 360px;
    height: fit-content;
    align-items: unset;
  }

  .input-container {
    width: 360px;
    textarea {
      height: 45px !important;
    }
  }

  .submit-container #drawline{
    height: 35px;
  }

  input[type=text], input[type=email], textarea {
      font-size: 16px;
    &:focus {
      font-size: 16px;
    }
  }

  .container {
    label{
      font-size: 20px;
    }
    input::placeholder,
    textarea::placeholder {
      font-size: 16px;
    }
  }

  .message-container {
    width: 350px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    width: 295px;
    label{
      font-size: 18px;
    }
  }

  .input-container {
    width: 295px;
  }
  
  .submit-container #drawline{
    height: 25px;
  }

  .message-container {
    width: 295px;
  }
}