@if (formContent(); as formContent) {
  <div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

      <div class="input-container hover-target">
        <label for="name">{{ formContent.name.title[languageService.lang] }}</label>
        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="{{ formContent.name.input[languageService.lang] }}" required>
        @if (!name.valid && name.touched) {
          <span>{{ formContent.name.validationMessage[languageService.lang] }}</span>
        }
      </div>

      <div class="input-container hover-target">
        <label for="email">{{ formContent.email.title[languageService.lang] }}</label>
        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="{{ formContent.email.input[languageService.lang] }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        @if (!email.valid && email.touched) {
          <span>{{ formContent.email.validationMessage[languageService.lang] }}</span>
        }
      </div>

      <div class="input-container hover-target">
        <label for="message">{{ formContent.interest.title[languageService.lang] }}</label>
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="{{ formContent.interest.input[languageService.lang] }}" style="height:200px" required></textarea>
        @if (!message.valid && message.touched) {
          <span>{{ formContent.interest.validationMessage[languageService.lang] }}</span>
        }
      </div>

      <div class="check-policy">
        <div class="checkbox-container hover-target" (click)="togglePrivacy()">
          @if (privacyAccepted()) {
            <img src="/assets/icons/contact/checked_mark.svg" alt="Checked">
          } @else {
            <img src="/assets/icons/contact/check_mark.svg" alt="Unchecked">
          }
        </div>

        <span>
          {{ formContent.checkPolicy[languageService.lang][0] }}
          <a routerLink="/legal/privacy-policy">
            {{ formContent.checkPolicy[languageService.lang][1] }}
          </a>
          {{ formContent.checkPolicy[languageService.lang][2] }}
        </span>
      </div>
      
      <div class="submit-container">
        <div id="drawline" appAnimateOnScroll [delay]="300"></div>
        <app-contact-button
          class="send-btn"
          textBtn="{{ formContent.buttonText[languageService.lang] }}"
          type="submit"
          value="Submit"
          [disabled]="!privacyAccepted() || contactForm.invalid || false">
        </app-contact-button>
      </div>
    </form>

    <div class="message-container">
      @if (showSuccessMessage) {
        <div class="success-message">
          {{ formContent.message.success[languageService.lang] }}
        </div>
      }
      
      @if (showErrorMessage) {
        <div class="error-message">
          {{ formContent.message.error[languageService.lang] }}
        </div>
      }
    </div>
  </div>
}