
    <div class="contact-sticker">
        <div class="sticker-content">
            <img class="center-img" 
                [src]="centerImgSrc"
                [style.width.px]="imgWidth"
                [style.height.px]="imgHeight">
            <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                 <path [attr.id]="topId" [attr.d]="topArcD" fill="none"></path>

                <path
                    [attr.id]="bottomId"
                    [attr.d]="bottomUpsideDown ? bottomArcFlippedD : bottomArcD"
                    fill="none">
                </path>  
                <text
                    [attr.font-size]="textFontSize"
                    [attr.fill]="textFill"
                    [attr.letter-spacing]="textLetterSpacing"
                    font-family="Bricolage"
                    font-weight="bold">
                    <!-- Text oben -->
                    <textPath
                        [attr.href]="'#' + topId"
                        [attr.startOffset]="topOffset"
                        text-anchor="middle">
                        {{ topText }}
                    </textPath>

                    <!-- Text unten -->
                    <textPath
                        [attr.href]="'#' + bottomId"
                        [attr.startOffset]="bottomOffset"
                        text-anchor="middle">
                        {{ bottomText }}
                    </textPath>
                </text>
            </svg>
        </div>
        <img [src]="imgSrc">
    </div> 

    <!-- <svg class="ring"
     [attr.viewBox]="'0 0 ' + ringSize + ' ' + ringSize"
     xmlns="http://www.w3.org/2000/svg">

  <path [attr.id]="topId" [attr.d]="topArcD" fill="none"></path>

  <path
    [attr.id]="bottomId"
    [attr.d]="bottomUpsideDown ? bottomArcFlippedD : bottomArcD"
    fill="none">
  </path>
</svg> -->


