@import '../../../styles/global.styles.scss';

.contact-sticker{
    position: relative;
    color: $black;
    font-size: 12px;
    font-weight: 700;
    
    img{
        width: 168px;
        height: 168px;
    }
    .sticker-content{
        width: 168px;
        height: 168px;
        position: absolute;
        @include flex-center;
        .center-img{
            position: absolute;
            display: block;
            font-weight: 400;
        }
        svg{
            position: absolute;
            width: 190px;
            height: 190px;
        }
    }
}

@media screen and (max-width: 500px) {
    .contact-sticker{
        img{
            width: 120px;
            height: 120px;
        }
        .sticker-content{
            width: 120px;
            height: 120px;
            .center-img{
                width: 70px;
                height: 35px;
            }
            svg{
                position: absolute;
                width: 140px;
                height: 140px;
            }
        }
    }
}