<section class="section-bg" id="projectsoverview-section">
    <div class="projects-overview-container">
        <div class="headline-container">
            <div class="headline">
                <p>MY CRAFT</p>
                <div id="headline-drawline">
                    <h1>Projects</h1>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, pariatur! Assumenda, cumque dolorum? Ut, eum adipisci obcaecati quae, magni sint, nulla eaque sapiente esse doloremque in omnis. Tempore, nostrum doloremque.</p>
        </div>
        <app-project-view *ngFor="let project of projects$ | async" [project]="project"></app-project-view>   
    </div>
    
</section>
 