<section class="section-bg">
    <div class="skills-content">
        <div class="headline-container">
            <div class="headline">
                <p>MY STACK</p>
                <div id="headline-drawline">
                    <h1>Skill set</h1>
                </div>
            </div>
            <div class="paper-description">
                <img src="/assets/img/02_ripped_paper/1.Skills description.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, pariatur! Assumenda, cumque dolorum? Ut, eum adipisci obcaecati quae, magni sint, nulla eaque sapiente esse doloremque in omnis. Tempore, nostrum doloremque.</p>
            </div>
        </div>
        <div class="skills-container">
            <div class="skill-icons">
                <div class="icon-container">
                    <img src="/assets/icons/skills/frontend/HTML.svg" alt="HTML">
                    <p>HTML</p>
                </div>
                <div class="icon-container">
                    <img src="/assets/icons/skills/frontend/CSS.svg" alt="CSS">
                    <p>CSS</p>
                </div>
            </div>
            <div class="sticker-container">
                <div class="sticker-content">
                    <img src="/assets/img/03_stickers/01_Skills - Peel off/Default.png">
                    <div class="sticker-text">
                        <img src="/assets/img/03_stickers/Arrow.png">
                        <p>Pull to<br> peel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
