@import '../../../styles/global.styles';
@import '../../../styles/drawline.animation';

.section-bg{
    background-image: url('/assets/img/01_background/03_Skills.webp');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    width: 100%;
    @include flex-center;
    padding: 100px 0 200px 0;
}

.skills-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.skills-container{
    display: flex;
    position: relative;
    width: fit-content;
    .sticker-position{
        position: absolute;
        right: -50px;
    }
    .skill-icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
}

.headline-container{
    width: 100%;
    height: 144px;
    display: flex;
    gap: 48px;
    color: $white;
    h1{
       font-size: 64px;
       font-weight: 700;
       margin: 0;
       z-index: 4;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        padding-right: 15px;
    }
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#headline-drawline{
    position: relative;
    @include flex-center;
    height: 80px;
    width: 261px;
    pointer-events: none;
    &::after {
        background-image: url('/assets/img/00_hand-drawn-lines/02_Skills/color_option_1.webp');
        height: 80px;
        width: 261px;
        @include drawline;
    }
    &.drawline-visible::after {
        animation: drawTopToBottom 0.25s;
    }
}

.paper-description{
    position: relative;
    img{
        width: 656px;
        height: 144px;
    }
    p{
        position: absolute;
        font-size: 18px;
        font-weight: 400;
        color: $black;
        top: 0;
        padding: 32px 23px;
        line-height: 25px;
        text-align: justify;
    }
}

@media screen and (max-width: $displayWidth-lg ) {
    .section-bg{
        padding-bottom: 250px;
    }
    
    .headline-container{
        flex-direction: column;
        gap: 40px;     
    }

    .skills-content{
        gap: 200px;
    }

    .skills-container{
        justify-content: flex-start;
        .skill-icons {
            grid-template-columns: repeat(4, 1fr);
        }
        .sticker-position{
            bottom: 105px;
            right: 200px;
        }
    }
}

@media screen and (max-width: 900px ) {  
    .headline-container{
        flex-direction: column;
        gap: 40px;     
    }

    .skills-content{
        gap: 200px;
    }

    .skills-container{
        justify-content: flex-start;
        .skill-icons {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: $displayWidth-sm) {
    .skills-content {
        gap: 240px;
    }

    .paper-description {
        p{
            padding: 45px 23px;
        }
        img {
            width: 500px;
            height: 191px;
        }
    }
}

@media screen and (max-width: 550px ) {  
    .paper-description {
        p{
            padding: 45px 23px;
            font-size: 16px;
            line-height: 20px;
        }
        img {
            width: 350px;
            height: 200px;
        }
    }
    
    .skills-container{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        .skill-icons {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
        }
        .sticker-position {
            position: unset;
            height: 100px;
            width: 100px
        }
    }
}

@media screen and (max-width: $displayWidth-xs ) {  
    #headline-drawline{
        width: 188px;
        height: 57px;
        h1{
            font-size: 45px;
        }
    }

    #headline-drawline::after{
        width: 188px;
    }
    
    .section-bg{
        padding-top: 50px;
    }
    
    .paper-description {
        img {
            width: 295px;
            height: 210px;
        }
    }

    .skills-container{
        .skill-icons {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 18px;
        }

        .sticker-position{
            bottom: 90px;
            right: 185px;
        }
    }
}