<section class="section-bg" id="skills-section" *ngIf="skillContent$ | async as skillContent">
    <div class="skills-content">
        <div class="headline-container">
            <div class="headline">
                <p>{{ skillContent.subtitle[languageService.lang] }}</p>
                <div id="headline-drawline">
                    <h1>{{ skillContent.title[languageService.lang] }}</h1>
                </div>
            </div>
            <div class="paper-description">
                <img src="/assets/img/02_ripped_paper/1.Skills description.png">
                <p>{{ skillContent.text[languageService.lang] }}</p>
            </div>
        </div>
        <div class="skills-container">
            <div class="skill-icons">
                <app-skill-icon *ngFor="let skill of skills$ | async" [skill]="skill"></app-skill-icon>
            </div>  
        </div>
        <div class="sticker-container">
            <div class="sticker-content">
                <img src="/assets/img/03_stickers/01_Skills - Peel off/Default.png">
                <div class="sticker-text">
                    <img src="/assets/img/03_stickers/Arrow.png">
                    <p>Pull to<br> peel</p>
                </div>
            </div>
        </div>
    </div>
</section>
