@if(navContent(); as navContent) {
    <nav>
        <div id="nav-about-me" class="link-container">
            <a (click)="navigateToSection('about-me')">{{ navContent.about[languageService.lang] }}</a>
        </div>
        <div id="nav-skills" class="link-container">
            <a (click)="navigateToSection('skills')">{{ navContent.skills[languageService.lang] }}</a>
        </div>
        <div id="nav-projects" class="link-container">
            <a (click)="navigateToSection('projectsoverview')">{{ navContent.projects[languageService.lang] }}</a>
        </div>
        <div id="nav-contacts" class="link-container">
            <a (click)="navigateToSection('contact')">{{ navContent.contact[languageService.lang] }}</a>
        </div>
    </nav>
}
