@import '../../../../styles/global.styles';
@import '../../../../styles/drawline.animation.scss';

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: var(--nav-direction, row);
    width: 800px;
    gap: var(--nav-gap, 0);
    a{
       text-decoration: none;
       font-size: 18px;
       font-weight: 800;
       color: $white;
       z-index: 100;
    }
}

.link-container {
  position: relative;
  @include flex-center;
  height: 45px;
  width: 110px;
  &::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: inset(100% 0 0 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: forwards !important;   
  }
}

#nav-about-me{
  &::after {
    background-image: url('/assets/img/00_hand-drawn-lines/00_Header/1.webp');
    width: 105px;
    height: 42px;
  }

  &:hover::after {
    animation: drawTopToBottom 0.25s;
  }
}

#nav-skills{
  &::after{
    background-image: url('/assets/img/00_hand-drawn-lines/00_Header/2.webp');
    width: 68px;
    height: 42px;
  }

  &:hover::after {
    animation: drawLeftToRight 0.25s;
  }
}

#nav-projects{
  &::after{
    background-image: url('/assets/img/00_hand-drawn-lines/00_Header/4.webp');
    width: 105px;
    height: 42px;
  }

  &:hover::after {
    animation: drawLeftToRight 0.25s;
  }
}

#nav-contacts{
  &::after{
    background-image: url('/assets/img/00_hand-drawn-lines/00_Header/3.webp');
    width: 90px;
    height: 42px;
  }
  
  &:hover::after {
    animation: drawLeftToRight 0.25s;
  }
}

@media (max-width: $displayWidth-lg) {
  nav{
    width: 600px;
  }
}