<div class="socials-container">
    <div data-aos="zoom-out" [attr.data-aos-delay]="100" class="hover-target">
        <a href="https://linkedin.com/in/michael-ring-259b333a1" target=”_blank”><img src="/assets/icons/socials/linledin.svg"></a>
    </div>
    <div data-aos="zoom-out" [attr.data-aos-delay]="200" class="hover-target">
        <a href="https://github.com/MR-GitCode" target=”_blank”><img src="/assets/icons/socials/git_hub.svg"></a>
    </div>
    <div data-aos="zoom-out" [attr.data-aos-delay]="300" class="hover-target">
        <a (click)="navigateToContact()"><img src="/assets/icons/socials/email.svg"></a>
    </div>
</div>
