@import '../../styles/global.styles';

.section-bg{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @include flex-center; 
}

.testimonials-content{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    @include margin-left-right;
}

.headline-container{
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    color: $black;
    h1{
       font-size: 64px;
       font-weight: 700;
       margin: 0;
       z-index: 4;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        // padding-right: 15px;
    }
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .sub-headline{
        display: flex;
        gap: 16px;
        img{
            width: 100px;
            height: 36px;
        }
    }
}