<section class="section-bg">
    <div class="testimonials-content">
        <div class="headline-container">
            <div class="headline">
                <div class="sub-headline">
                    <img src="/assets/img/00_hand-drawn-lines/04_Testimonials/Color_option_1.png">
                    <p>IN THEIR WORDS:</p>  
                </div>
                <h1>Colleagues' Thoughts</h1>
            </div>
        </div>
        <div class="testimonials-cards">
            <app-feedback *ngFor="let testimonial of testimonials$ | async; let i = index;" [testimonial]="testimonial" [ngStyle]="{position: 'absolute', 'left.px': i * 350, 'transform': 'rotate(' + (-4 + i * 4) + 'deg)'}" [ngClass]="['stack-' + i]"></app-feedback>    
        </div>
    </div>
</section>
