@import '../../../styles/global.styles';

.section-bg{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @include flex-center; 
}

.testimonials-content{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    @include margin-left-right;
    .testimonials-cards{
        width: 100%;
        height: 400px;
        display: flex;
        position: relative;
        justify-content: center;
    }
}

.stack-0 { 
    z-index: 3;
    background-image: url('/assets/img/03_stickers/02_Testimonials/A.png');
    border-radius: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.stack-1 {
    z-index: 2;
    background-image: url('/assets/img/03_stickers/02_Testimonials/B.png');
    border-radius: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.stack-2 {
    z-index: 1;
    background-image: url('/assets/img/03_stickers/02_Testimonials/A.png');
    border-radius: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

app-feedback:hover {
  z-index: 50 !important;
}

.headline-container{
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    color: $black;
    h1{
       font-size: 64px;
       font-weight: 700;
       margin: 0;
       z-index: 4;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        // padding-right: 15px;
    }
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .sub-headline{
        display: flex;
        gap: 16px;
        img{
            width: 100px;
            height: 36px;
        }
    }
}