@if (testimonialsContent(); as testimonialsContent) {
    @if (testimonials() && testimonials().length >= 2) {
        <section class="section-bg">
            <div class="testimonials-content">
                <div class="headline-container">
                    <div class="headline">
                        <div class="sub-headline">
                            <div id="drawline" appAnimateOnScroll [delay]="300"></div> 
                            <p>{{ testimonialsContent.subtitle[languageService.lang] }}</p>  
                        </div>
                        <h1>{{ testimonialsContent.title[languageService.lang] }}</h1>
                    </div>
                </div>
                
                <div class="testimonials-cards">
                    @for (testimonial of testimonials(); track $index ; let i = $index) {
                        @if (testimonial.author) {
                            <app-feedback
                                [testimonial]="testimonial"
                                [ngStyle]="{ 'transform': 'rotate(' + (-4 + i * 4) + 'deg)' }"
                                [ngClass]="['stack-' + i]">
                            </app-feedback>    
                        }
                    }    
                </div>
            </div>
        </section>
    }
}
