@import '../../../styles/global.styles';
@import '../../../styles/drawline.animation';

.section-bg{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @include flex-center;
    padding: 80px 0; 
}

.testimonials-content{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    @include margin-left-right;
    .testimonials-cards{
        width: 100%;
        height: 400px;
        position: relative;
        @include flex-center;
    }
}

.stack-0 { 
    z-index: 3;
    background-image: url('/assets/img/03_stickers/02_Testimonials/A.png');
    border-radius: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.stack-1 {
    z-index: 2;
    background-image: url('/assets/img/03_stickers/02_Testimonials/B.png');
    border-radius: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.stack-2 {
    z-index: 1;
    background-image: url('/assets/img/03_stickers/02_Testimonials/A.png');
    border-radius: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

app-feedback:hover {
  z-index: 50 !important;
}

.headline-container{
    width: 100%;
    display: flex;
    text-align: end;
    justify-content: flex-end;
    gap: 48px;
    color: $black;
    padding-bottom: 30px;
    h1{
       font-size: 64px;
       font-weight: 700;
       margin: 0;
       z-index: 4;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .sub-headline{
        display: flex;
        gap: 16px;
        #drawline{
            position: relative;
            width: 100px;
            height: 36px;
            &::after{
            background-image: url('/assets/img/00_hand-drawn-lines/04_Testimonials/Color_option_1.png');
            @include drawline;
            }
            &.drawline-visible::after {
                animation: drawRightToLeft 0.25s;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .stack-0, .stack-1, .stack-2 {
        width: 480px * 0.85;
        height: 320px * 0.85;
        background-size: 100% 100% !important;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1200px) {
  .testimonials-content {
    .testimonials-cards {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

    app-feedback {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
    }
}

@media screen and (max-width: 500px) {
    .headline-container{
        h1{
            font-size: 45px;
        }
        p{
            font-size: 18px;
        }
    } 
    
    .stack-0, .stack-1, .stack-2 {
        width: 320px !important;
        height: 353px !important;
        background-size: 100% 100% !important;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: $displayWidth-xs) {
    .stack-0, .stack-1, .stack-2 {
        width: 280px !important;
        height: 340px !important;
    }
}