@font-face {
    font-family: 'Bricolage';
    src: url('/assets/fonts/bricolage_grotesque/BricolageGrotesque-VariableFont.ttf') format('truetype-variations');
}

*{
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: 'Bricolage', sans-serif;
}