@import '../../../../styles/global.styles';
@import '../../../../styles/drawline.animation';

.section-bg{
    background-image: url('/assets/img/01_background/07_project_details.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $darkgrey;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.projects-details-container{
    display: flex;
    @include margin-left-right;
    flex-direction: column;
    width: 1440px;
    padding-top: 110px;
    position: relative;
}

.projects-details-content{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    .project-description{
        width: 488px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 40px;
        h1{
            font-size: 64px;
            font-weight: 700;
            margin: 0;
        }
        h2{
            font-size: 28px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 16px;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            margin: 0;
            line-height: 30px;
            text-align: justify
        }
    }

    .project-skills{
        display: flex;
        gap: 12px;
        .skill{
            display: flex;
            align-items: center;
            gap: 4px;
            img{
                width: 32px;
                height: 32px;
            }
            p{
                font-size: 18px;
            }
        } 
    }
}

.project-links{
    position: relative;
    .img{
        padding-top: 25px;
        border-radius: 20px;
        position: relative;
    }
}

.arrow-back-container{
    a{
        text-decoration: none;
    }

    .arrow-back{
        color: $black;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        font-weight: 700;
        img{
            width: 24px;
            height: 24px;
        }
        &:hover{
            color: $orange;
        }
    }
}

.btn-links {
    position: absolute;
    bottom: 2%;
    right: 0;

    .buttons{
        display: flex;
        justify-content: flex-end;
        gap: 32px;
    }
}

.arrow-next{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    color: $white;

    img{
        width: 24px;
        height: 24px;
    }

    &:hover{
        color: $yellow;
    }
}

.headline{
    width: fit-content;
    min-width: 120px;

    #drawline{
        position: relative;
        height: 25px;
        &::after{
            background-image: url('/assets/img/00_hand-drawn-lines/01_About_me/color_option_1.webp');
            @include drawline;
        }

        &.drawline-visible::after {
            animation: drawLeftToRight 0.25s;
        }
    }
}

.sticker-container{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.blend-diff {
    color: $white;
    mix-blend-mode: difference !important;      
}

@media screen and (max-height: 950px) and (min-width: 1351px ){  
    .projects-details-container{
        padding-top: 55px;
    }

    .projects-details-content .project-description{
        gap: 25px;
    }
}

@media screen and (max-width: 1350px) {
    .projects-details-container{
        width: unset;
    }

        .projects-details-content {
        flex-direction: column;
        align-items: center;
        
        .description-project,
        .description-process,
        .duration,
        .project-skills {
            mix-blend-mode: difference !important;
            
            p, h2, b {
                color: $white;
            }
        }
        
        .project-description {
            gap: 30px;
        }
    }

    .project-links .img {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .sticker-container {
        top: 55%;
    }

    .section-bg{
        background-image: url('/assets/img/01_background/07_project_details_rotate.webp');
        background-position-y: bottom;
    }

    .btn-links {
        position: unset;
        bottom: 2%;
        right: 0;
        .buttons{
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 770px) {  
    .project-links img{
        width: 400px;
    }

    .projects-details-content .project-description {
        width: unset;
    }
}

@media screen and (max-width: 610px) { 
    .sticker-container {
            bottom: 85px;
            right: 5px;
            top: unset;
            transform: unset;
        }
    .projects-details-content {
        padding: 0;
    }
}

@media screen and (max-width: 500px) { 
    .projects-details-content .project-description {
        width: 340px;
        p {
            font-size: 18px;
            height: fit-content;
        }
    }

    .projects-details-content .project-skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-self: center;
    }

    .project-links {
        img{
            width: 310px;
        };
        .buttons {
            gap: 15px;
        }
    }
}

@media screen and (max-width: 370px) { 
    .projects-details-content .project-description {
        width: 290px;
        h2{
            font-size: 24px
        };
        p {
            font-size: 16px;
        }
    }

    .project-links {
        img{
            width: 290px;
        };
    }

    .btn-links .buttons {
        gap: 15px;
    }
}
