<section class="section-bg" *ngIf="projectDetails$ | async as projectDetails">
    <div class="projects-details-container">

        <div class="projects-details-content">
            <div class="arrow-back">
                <img src="/assets/img/00_hand-drawn-lines/03_Portfolio/Breadcrumbs/Breadcrumb_arrow_1.png">
                <p>Go Back</p>
            </div>
            <div class="project-description">
                <div class="headline" id="headline-drawline">
                    <h1>{{ projectDetails.title }}</h1>
                </div>
                <div class="description-project">
                    <h2>{{ projectDetails.description.title[languageService.lang] }}</h2>
                    <p>{{ projectDetails.description.text[languageService.lang] }}</p>
                </div>
                <div class="description-process">
                    <h2>{{ projectDetails.process.title[languageService.lang] }}</h2>
                    <p>{{ projectDetails.process.text[languageService.lang] }}</p>
                </div>
                <div class="duration">
                    <p><b>{{ projectDetails.duration.title[languageService.lang] }}: </b>{{ projectDetails.duration.duration[languageService.lang] }}</p>
                </div>
                <div class="project-skills">
                    <div class="skill" *ngFor="let skill of skills$ | async">
                        <img [src]="skill.imgURL" [alt]="skill.name">
                        <p>{{skill.name}}</p>
                    </div>
                </div>
            </div>
            <div class="project-links">
                <div class="img">
                    <img src="{{ projectDetails.imgURL }}">
                </div>
                <div class="buttons">
                    <app-contact-button textBtn="GitHub" urlBtn="{{ projectDetails.githubURL }}"></app-contact-button>
                    <app-contact-button textBtn="Live Test" urlBtn="{{ projectDetails.demoURL }}" ></app-contact-button>  
                </div>
            </div>
            <div class="arrow-next">
                <p>Next Project</p>
                <img src="/assets/img/00_hand-drawn-lines/03_Portfolio/Breadcrumbs/Next_project_arrow_1.png">
            </div>
        </div>
    </div>
</section>

