@import '../../../../styles/global.styles';
@import '../../../../styles/drawline.animation';

.section-bg{
    background-image: url('/assets/img/01_background/07_project_details.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $darkgrey;
    width: 100%;
    height: 100vh !important;
    padding-top: 100px;
}

.projects-details-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
    max-width: 1440px;
}

.projects-details-content{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    position: relative;
    .project-description{
        width: 488px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        h1{
            font-size: 64px;
            font-weight: 700;
            margin: 0;
        }
        h2{
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 16px;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
    }
    .project-skills{
        display: flex;
        gap: 8px;
        .skill{
            display: flex;
            align-items: center;
            gap: 4px;
            img{
            width: 24px;
            height: 24px;
            }
            p{
                font-size: 16px;
            }
        } 
    }
}

.project-links{
    position: relative;
    .img{
        padding-top: 25px;
        border-radius: 20px;
        width: 560px;
        position: relative;
    }
    .buttons{
        padding-top: 48px;
        position: absolute;
        display: flex;
        gap: 32px;
        right: 0;
        bottom: 0;
    }
}

.arrow-back-container{
    position: absolute;
    top: -48px;
    left: -48px;
    .arrow-back{
        color: $white;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        img{
            width: 24px;
            height: 24px;
        }
        &:hover{
            color: $orange;
        }
    }
}

.arrow-next{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -58px;
    right: -48px;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    cursor: pointer;
    img{
        width: 24px;
        height: 24px;
    }
    &:hover{
        color: $yellow;
    }
}

.headline{
    width: fit-content;
    min-width: 120px;
    #drawline{
        position: relative;
        height: 25px;
        &::after{
            background-image: url('/assets/img/00_hand-drawn-lines/01_About_me/color_option_1.png');
            @include drawline;
        }
        &.drawline-visible::after {
            animation: drawLeftToRight 0.25s;
        }
    }
}

.sticker-container{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
