@import '../../../styles/global.styles';

footer{
    height: 132px;
    width: 100%;
    z-index: 300;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.content-area{
    width: 100%;
    max-width: 1440px;
    margin: 0 120px;
}

.footer-content{
    height: 100%;
    color: var(--font-color, $white);
    display: flex;
    flex-direction: column;
}

.copyright-info{
    display: flex;
    flex-direction: column; 
    gap: 16px;
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
    a{
        width: fit-content;
    }
}

.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: 400;
}